.blob1 {
  height: 60vh;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 212, 255, 1) 0%,
    rgba(2, 0, 36)
  );
  border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  filter: blur(40%);
  opacity: 0.4;
  right: 20px;
  top: 0;
  z-index: 0;
  animation: animateBlob 20s infinite cubic-bezier(0.68, -0.55, 0.27, 1.55)
    alternate forwards;
  position: absolute;
  width: 400px;
  height: 400px;
  box-shadow: inset 25px 25px 8px 0px #ff588b, inset 50px 50px 8px 0px #66319f;
}

.trail {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 212, 255, 0.2) 0%,
    rgba(2, 0, 36, 0) 100%
  );
  border-radius: 50%/50%;
  filter: blur(20%);
  z-index: 20;
  top: 0;
  left: 0;
}
@keyframes animateBlob {
  0% {
    transform: translate(40%, -25%);
    border-radius: 50%/50%;
    scale: 1;
  }
  50% {
    transform: translate(0%, 13%);
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    rotate: 20deg;
    scale: 1.125;
  }
  50% {
    transform: translate(13%, 0%);
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    rotate: 60deg;
    scale: 1.5;
  }
  100% {
    transform: translate(-45%, 39%);
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    rotate: -20deg;
    scale: 1.25;
  }
}
#progressBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  background: linear-gradient(90deg, #facc15, #a855f7, #22d3ee);
  width: 0%;
  z-index: 10000;
  transition: width 0.2s ease;
}
